$primary : #0d6efd;
$primary-bg: #091c39;
$light-green: #80ff00;
$dark-01: #030b17;
$white: #fff;
$light-red: #cd2525;

.App {
  text-align: center;
  background: $primary-bg;
  
}

.history-container{
  max-height: 362px;
  min-height: 100%;
  overflow: scroll;
  &.is-not-empty{
    align-content: start;
  }
  .err-message{
    color: $dark-01;
    background: $light-green;
    margin:0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  .history-item{
    h5,p{margin:0}
    color: $dark-01;
    text-align: right;
    background: $light-green;
    border-bottom: 1px solid $primary-bg;
    margin: 0;
    padding: 1rem;
  }
}

.additional-result{
  color: $white;
  background: $dark-01;
  padding: 1rem 0.5rem;
}

.calculator-container{
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;

  &>.row:first-child{
    max-width: 600px;
    margin: auto;

    .screen{
      color: $white;
      background: $dark-01;
      margin:0;
      font-weight: 300;
      line-height: 30px;
      font-size: 1.3rem;
      text-align: right;
      padding: 1rem 0.85rem;
      &.error{
        background: $light-red;
      }
    }

    .calculator-button{
      margin: 0px;
      border-radius: 0px;
      width: 100%;
      font-weight: 600;
      box-shadow: none;
      height: 60px;
    }
  }
  
}


